<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>1006</title>
    <head>
    <body>
    <p>We have had 5 homeworks in this course (8 assignments, if you count 
    each part separately).</p>
    <p>HW1 covered introductory theory and Python syntax. 
    In A, we covered binary numbers, algorithms, and logic.  In B, we covered 
    lists.</p>
    <p>HW2 covered sorting algorithms, simulations, and CSVs.  In A, we covered
     time complexity associated with various sorting algorithms.  In B, we ran a 
     physics simulator and wrote functions to read in information about an input 
     CSV file.</p>
     <p> HW3 covered recursion.  A involved exercises in time complexity.  B 
     covered recursive functions via a percolation simulator (and some other functions 
     to process CSV files).</p>
     <p>HW4 covered object oriented learning via a course simulator.</p>
     <p>HW5 pulled from previous homeworks and used various data analysis libraries 
     to create a machine-learning programs.</p>
    </body>
</html>