
<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Classes</title>
    <head>
    <body>
    <p>Here are the classes I am taking this semester: Quantum Mechanics II;
    Electromagnetic Waves and Optics; Intro to Computing; Intermediate Italian II;
    Physics and Philosophy; and Design Futures</p>
    <p>My favorite class this semester was Waves and Optics.  
    While I don't <b>love</b> electromagnetism itself, this made a lot of connections 
    to other fields in physics that I do find interesting (like QFT).  There was a 
    decent amount of overlap between this course and my quantum mechanics course. But 
    mostly I adored my professor, who is one of the kindest and zaniest people 
    I've ever met.</p>
    </body>
</html>