<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p>Hello World! Welcome to my webpage!</p>
    <p>My name is Zoë Webb-Mack.  I'm a junior/rising senior studying physics 
    at Barnard.</p>
    <p>Here is a picture of me! With an orange slice!</p>
    <img src="/static/IMG_2298.JPG" alt="Orange slice">
    <p>Here are links to some of the other pages on this site:</p>
    <ul>
    <li><a href=/1006>1006 test page</a></li>
    <li><a href=/classes>Class page</a></li>
    <li><a href=/assignments>Assignments page</a></li>
    </ul>
    <p>Here's a link to one of my favorite websites, <a href="https://food52.com">
    Food52.</a></p>
    
    </body>
</html>
